.product{
    list-style: none;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap

}

.test1{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding : 16.8%;

}

.test1 .user {
    text-align: left;
    font-size: 24px;
    font-weight:700;
}

.test1 .but1{
    margin: 10px 20px 50px 100px;
    height: 90px;
    width: 245px;
    background-color: #4CAF50;
    border: 4mm ridge rgba(50, 170, 220, .6);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.test1 .but2{
    margin: 10px 20px 50px 100px;
    height: 30px;
    width: 150px;
    background-color: darkred;
    border: 4mm ridge rgba(170, 50, 220, .6);;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.news{
margin: 10px;
    display:flex;
    flex-flow: column wrap;
    padding: 10px;
    background: #61dafb;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    page-break-inside: avoid;
    break-inside: avoid;

}
.news .picture{

  width: 100px;
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: auto; /* Отступ слева */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */

}
.news .button{
    background: greenyellow;
    float:bottom;
    margin-left: 10px;

}
.news .button1{
    background: indianred;
    float:bottom;
    margin-left: 10px;

}

.news .text3{
    text-align: center;
    font-size: 24px;
    font-weight:700;
    padding-left: 20px;

}
.coment{
    margin: 10px;
    display:flex;
    padding: 10px;
    background: #61dafb;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}
.coment .text5{
    text-align: left;
    font-size: 24px;
    font-weight:700;
    padding-left: 20px;

}
.main {
  display: flex;
height: 100vh;

}
.main  .navigation{
    width:20%;
text-align: center;
    background: cadetblue;
  }

.main .content{
    flex-direction: row;

    width:80%;
  }

 .buy{
    padding: 0.5%; /* Поля */
    border-radius: 5px; /* Радиус скругления */
    margin-left: 40%;
     margin-right: 54.8%;
     margin-top: 50%;
        background: greenyellow;
}
.main .content .button2{
    margin-top: 0px;
    background: indianred;
    float:bottom;
    margin-left: 200px;
    width: 100px;
    text-align: center;
    height: 25px;
    border-radius: 5px; /* Радиус скругления */
}
.main .content .Forms{
    display: flex;
    flex-direction: column;
padding: 50px;
justify-content:center;
}
