

.header{
  background: cadetblue;
  text-decoration: none;
  font-weight:700;
  font-size: 20px;
  padding: 10px;
display: flex;

}
.header .login{
background-size: 80px;
margin-left: 80%;
    background: yellow;

}
.navigation{

  background: cadetblue;
  text-align: center;
}
.navigation .text11{
    text-decoration: none;
    font-weight:700;
    font-size: 20px;
    color: white;
}
.navigation a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight:700;
    font-size: 20px;
    color: white;
  }

